body            { font-family: sans-serif; background: #eee; }
a, h1           { color: #377BA8; }
h1, h2          { font-family: 'Georgia', serif; margin: 0; }
h1              { border-bottom: 2px solid #eee; }
h2              { color: #4490c2; font-size: 6; }

.page           { margin: 2em auto; width: 35em; border: 5px solid #ccc;
                  padding: 0.8em; background: white; }
.comments       { list-style: none; margin: 0; padding: 0; }
.comments li    { margin: 0.8em 1.2em; }
.comments li h2 { margin-left: -1em; }
.add-comment    { font-size: 0.9em; border-bottom: 1px solid #ccc; }
.add-comment dl { font-weight: bold; }
.metanav        { text-align: right; font-size: 0.8em; padding: 0.3em;
                  margin-bottom: 1em; background: #fafafa; }
.flash          { background: #CEE5F5; padding: 0.5em;
                  border: 1px solid #AACBE2; }
.error          { background: #F0D6D6; padding: 0.5em; }

body {
  text-align: center;
}

.heading {
  text-align: center;
}

.container {
  width: 500px;  
/* Centering for IE6+ in strict mode,
Firefox, and other modern browsers */
margin: auto;
/* Don't center every line of text -
we inherited this setting from body */
text-align: left;

}
  
.left {
  float: left;
  padding: 0px 10px 0px 0px;
  width: 90px;
}

.middle {
  top: 10px;
  margin-left: 100px;
  margin-right: 100px;
}

.right {
  float: right;
  padding: 0px 10px 0px 10px;
  width: 90px;
}

.footer {
  padding-top: 20px;
  text-align: center;
  clear: both;
}
