<!doctype html>
<title>Dogs</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<h1>SF SPCA Dogs Available for Adoption</h1><br><br>

        
<ul style="list-style: none;">
  {% for each_dog in db_dogs %}
    <div style="float:right">
        <form action="">
        <select name="Cuteness Rating">
        <option value="Cutest thing I've ever seen">Cutest thing I've ever seen</option>
        <option value="Awww">Awww</option>
        <option value="Pretty cute">Pretty cute</option>
        <option value="Not bad">Not bad</option>
        <option value="Woof">Woof</option>
        </select>
        </form>
        <form action="">
        <select value="Personality Rating" selected="selected">
        <option value="One of the family">Perfect fit</option>
        <option value="Will require some training">Will require some training</option>
        <option value="May require too much training">May require too much training</option>
        <option value="Someone will end up dead">Someone might die</option>
        </select>
        </form>   
        Comments
        <input type=textarea/>
        </label>
        </form>
        <input type=submit value=Save><br><br><br>
        <form action="#">
        <label style="border: 1px solid #000;" for="Comments"> 
        
        </div>
           
    
        <li><img src="{{ each_dog.image }}"></li>
        
        <div style="float:left">
           
            <form action="">
            <select name="Cuteness Rating">
            <option value="Cutest thing I've ever seen">Cutest thing I've ever seen</option>
            <option value="Awww">Awww</option>
            <option value="Pretty cute">Pretty cute</option>
            <option value="Not bad">Not bad</option>
            <option value="Woof">Woof</option>
            </select>
            </form> 
            
            <form action="">
            
        <li>{{ each_dog.name }}</li>
        <li>{{ each_dog.breed }} - {{ each_dog.color }}</li>
        <li>{{ each_dog.age }}</li>               
        <li>{{ each_dog.gender }}</li>
        <li>{{ each_dog.description }}</li>
        
        
        <select value="Personality Rating" selected="selected">
        <option value="One of the family">Perfect fit</option>
        <option value="Will require some training">Will require some training</option>
        <option value="May require too much training">May require too much training</option>
        <option value="Someone will end up dead">Someone might die</option>
        </select>
        </form>   
         
        Comments
    <input type=textarea/>
    </label>
    </form>
    <input type=submit value=Save><br><br><br> 
        </div>    
        
        
    
        
    
    
    
    
  {% endfor %}
</ul>

